{% extends 'manual_test/base.html' %}

{% block title %}
    BugAndTest Главная
{% endblock %}

{% load static %}
{% block content %}
<div>
    <p class="text">Програмный продукт предоставляет пользователям возможность сохранять, редактировать и
        удалять тест-кейсы.
    <p class="text">Позволяет составлять планы тестирования.</p>
    <p class="text">Дает возможность прикреплять к тест-кейсам програмный код для проведения автоматизированного
        тестирования с использованием Python или JavaScript и запускать его во встроенном модуле</p>
</div>

<div id="restrictions">
    <p>Для возможности работы в программе, пожалуйста, обратитесь к Администратору</p>
    <form action="{% url 'mail_admin' %}">
        <button class="button">Связь с администратором</button>
    </form>
</div>
{% endblock %}